*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

header{
    border: 2px dashed black;
    width: 50%;
}

main{
    font-size: 2rem;
}

h1{
    border: 2px dashed red;
    width: 50%;
    padding: 0.5em;
}


p{
    font-size: 2rem;
    width: 40ch;
}