html{
    font-size: 22px;
}

main{
    font-family: monospace;
}

.gray{
    color: gray;
}

h1, h2{
    color: blue;
}

p{
    color: purple;
}

.highlight{
    text-transform: uppercase;
    background-color: gold;
}

#second{
    font-style: italic;
}